/* Upload Page Container */
.upload-container {
  padding: 30px;
  max-width: 600px;
  margin: 50px auto; /* Centers horizontally with top margin */
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;

  display: flex; /* Enables flexbox */
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically */
  min-height: 70vh; /* Ensures enough vertical space */
}


.upload-container h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 30px;
  color: #2c3e50;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.upload-section {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.upload-section:hover {
  border-color: #e3f0ff;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-icon {
  font-size: 3rem;
  color: #91abc7;
  margin-bottom: 10px;
}

.upload-text {
  font-size: 1.1rem;
  color: #6c757d;
}

.upload-input {
  display: none;
}

.upload-button {
  padding: 15px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(135deg, #007bff, #0056b3);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.upload-button:hover {
  background: linear-gradient(135deg, #0056b3, #004085);
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.upload-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
  