services:
  ea-server:
    build: .
    working_dir: /app/evoting_localstorage/project_evoting
    command: /root/.nvm/versions/node/v22.3.0/bin/node index
    ports:
      - "5000:5000"
    links:
      - ea-db
    volumes:
    - ./output:/output
    - /app/evoting_localstorage/project_evoting/node_modules
  
  ea-db:
    image: mongo:latest
    hostname: eadb
    environment:
      - MONGO_INITDB_DATABASE=EA_DB
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=pass
    ports:
      - 27017:27017
  
  verif-server:
    build: .
    working_dir: /app/evoting_localstorage/verification_server
    command: /root/.nvm/versions/node/v22.3.0/bin/node index
    ports:
      - "7000:7000"
    volumes:
    - ./output:/output
  

  bulletin:
      build: .
      working_dir: /app/evoting_localstorage/bulletin
      command: /root/.nvm/versions/node/v22.3.0/bin/npm start
      ports:
        - "5001:3000"

  admin-webpage:
      build: .
      working_dir: /app/evoting_localstorage/admin_webpage
      command: /root/.nvm/versions/node/v22.3.0/bin/npm start
      ports:
        - "3000:3000"

  verification-webpage:
      build: .
      working_dir: /app/evoting_localstorage/verification-webpage
      command: /root/.nvm/versions/node/v22.3.0/bin/npm start
      ports:
        - "7001:3000" 
  

  
  # interactive:
  #   build: .
  #   command: /bin/bash -c "cd core; python rename.py &> /output/rename.log"
  #   volumes:
  #   - ./output:/output
