
services:
  nginx:
    image: nginx:latest
    container_name: nginx-ev
    ports:
      - "80:80"
    depends_on:
      - admin-webpage
      - ea-server
      - verif-server
      - bulletin
      - verification-webpage
      - demo
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf

  ea-server:
    build: .
    working_dir: /app/evoting_localstorage/project_evoting
    command: /root/.nvm/versions/node/v22.3.0/bin/node index
    ports:
      - "5000:5000"
    links:
      - ea-db
    volumes:
    - ./output:/output
    - /app/evoting_localstorage/project_evoting/node_modules
    cpu_count: 8  # Explicit core allocation
    cpus: 8.0     # Alternative: 8.0 = 8 cores (100% per core)
    cpu_shares: 1024  # Default priority
    mem_limit: 32G
  
  ea-db:
    image: mongo:latest
    hostname: eadb
    environment:
    - MONGO_INITDB_ROOT_USERNAME=root
    - MONGO_INITDB_ROOT_PASSWORD=pass
    ports:
      - 27017:27017
  
  verif-server:
    build: .
    working_dir: /app/evoting_localstorage/verification_server
    command: /root/.nvm/versions/node/v22.3.0/bin/node index
    ports:
      - "7000:7000"
    volumes:
    - ./output:/output
  

  bulletin:
      build: .
      working_dir: /app/evoting_localstorage/bulletin
      command: /root/.nvm/versions/node/v22.3.0/bin/npm start
      ports:
        - "5001:3000"

  admin-webpage:
      build: .
      working_dir: /app/evoting_localstorage/admin_webpage
      command: /root/.nvm/versions/node/v22.3.0/bin/npm start
      ports:
        - "3000:3000"

  verification-webpage:
      build: .
      working_dir: /app/evoting_localstorage/verification-webpage
      command: /root/.nvm/versions/node/v22.3.0/bin/npm start
      ports:
        - "7001:3000" 
        
  demo:
    build: .
    working_dir: /app/evoting_localstorage/demo
    command: /root/.nvm/versions/node/v22.3.0/bin/npm start
    ports:
      - "8080:3000"
    environment:
    - BROWSER=none
  
