/* App.css */

body {
  background-color: #F1F1F2;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}
.qrCodeContainer {
  margin-top: 20px;
  text-align: center;
}

.qrCodeContainer div {
  display:none;
}

.qrCodeContainerPrint {
  display: none; /* Hide the print-specific QR code on the main screen */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

label {
  margin-bottom: 10px;
  font-size: 16px;
}

input {
  margin-left: 5px;
}

button {
  background-color: #CEE6F2;
  color: #333;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #A1D6E2;
  transform: scale(1.05);
}

.option {
  background-color: #A1D6E2;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.option:hover {
  background-color: #1995AD;
  transform: scale(1.05);
}

.selectedOption {
  background-color: #1995AD; /* Contrasting color */
  color: #fff;
}

/* Print styles */
@media print {
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .app {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
  }

  h1, form, button, .option {
    display: none; /* Hide non-essential elements */
  }

  .qrCodeContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    text-align: center;
  }

  .qrCodeContainer div {
    display: none; /* Show the print-specific QR code */
  }

  .qrCodeContainer p {
    font-size: 20px; /* Adjust as needed */
    text-align: right;
    margin: 0;
    padding-top: 20px;
    position: relative;
    left: 50px;
    
  }

  .qrCodeContainerPrint {
    display: block; /* Show the print-specific QR code */
    position: absolute;
    top: 61px;
    right: 100px;
  }

  .qrCodeContainerPrint p {
    font-size: 20px; /* Adjust as needed */
    text-align: center;
    margin-top: 0px;
  }

  /* Hide default print header and footer */
  @page {
    margin: 0;
  }
}


