
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #012b95;
  font-size: 40px;
  margin-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

/* App.css */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

label {
  margin-bottom: 10px;
  font-size: 16px;
}

input {
  margin-left: 5px;
}


button {
  background-color: #012b95;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #012bc5;
  transform: scale(1.05);
}


Link:hover {
  color: #ffffff;
  text-decoration: underline;
}



.option {
  background-color: #A1D6E2;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.option:hover {
  background-color: #1995AD;
  transform: scale(1.05);
}

.selectedOption {
  background-color: #1995AD; /* Contrasting color */
  color: #fff;
}

/* Print styles */
@media print {
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  .app {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px;
  }

  h1, form, button, .option {
    display: none; /* Hide non-essential elements */
  }

  /* Hide default print header and footer */
  @page {
    margin: 0;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
